* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

#cabecalho,
#corpo-pagina {
    text-align: center;
    margin: 20px;
}

#titulo-pagina {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

#insercao {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
}

#botao-enviar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#botao-enviar:hover {
    background-color: #45a049;
}
